{
  "ApplicationName": "Dj4DOCgwKXQNHRg=",
  "CompanyName": "EDskNQIhN24IGWgAICMjNCItJy8qZQQiLxg=",
  "CopyrightYear": 1347574006,
  "SupportUrl": "JCInfiA8JyEzPzt7NDU=",
  "Telephone": "f3F1ZWZ5enZlY3F7cmB4",
  "EMail": "NjgxOSM3OQEmIjY5IDokaykk",
  "RegistryKey": "HSsUPTInOgUEKwomJDQhcxAADw==",
  "UpdateUrl": "PSQwMSd/en0gPDMhLycgez0iJiQlMjxrMTdjNCAtbiJ0ejE5JyIhLyAWOjQ4IjE2JAIgJyElOj5rDjo2ITM/PX0AEwI=",
  "UpdateBetaUrl": "PSQwMSd/bWo4KDY3IiY1ai46NjYkJyl7Nil6MTQoezNzajc0JyApOyQXLjIxNSQmJAM3PiY5Ky97Ciw2ICAmOmERAhJsFiA2JA==",
  "AppId": "Dj4jPSUyOH0NFhc="
}